.pagination {
  list-style-type: none;
  margin: 0 auto;
  /* overflow: hidden; */
}

.pagination li {
  float: left;
  margin: 0 auto;
  margin-right: 50px;
}

.prev:before {
  content: "←";
}

.next:after {
  content: "→";
}

.pagination:after {
  /* https://qiita.com/wlcmty/items/1ecf954b60a016d249a4 */
  content: "";
  display: block;
  clear: both;
}
